.art {
    width: 800px;
    font-size: 5px;
    font-family: monospace;
    white-space: nowrap;
    text-overflow: clip;
}

.hacker {
    background-color: black;
    color: #fff;
}

.logo {
    font-size: 55px;
    background-color: black;
    font-weight: bold;
    font-family: monospace;
    color: white;
}
